#mobile-nav-menu {
  top: 78px;
  z-index: 999999;
  background-color: $background-color;
}

.mobile-nav-link-item {
  padding:7px;

  a:link, a:visited, a:hover, a:active, a:focus {
    color: black;
    text-decoration: none;
  }
}

.nav-item {
  padding-right: 1.5rem;

  a:link, a:visited {
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
  }

  a:hover, a:focus a:active {
    border-bottom: 1px solid black;
  }
}

.nav-item-active {
  a:link, a:visited, a:hover, a:focus, a:active {
    border-bottom: 1px solid black;
  }
}

.home-post-title {
  a:link, a:visited {
    color: black;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
  }

  a:hover, a:focus, a:active {
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
  }
}

.footer-social-links {
  a:link, a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-right: 15px;
  }

  a:hover, a:focus, a:active {
    border-bottom: 1px solid transparent;
  }
}

.post-list-item {
  a{
    text-decoration: none;
  }

  .post-list-item-title {
    background-color: #159bff;

    a:link, a:visited {
      color: white;
      font-weight: bold;
    }
  }
}

.post-list-item:hover {
  border-color: #159bff;
  background-color: lighten(#159bff, 42%);
}

.post-content {
  ul li::before {
    content: "\2022";
    color: $light-text-color;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    margin-left: -0.7em;
    font-size: 1.5rem;
  }

  ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: 700;
  }

  img {
    box-shadow: rgba(184, 194, 215, 0.35) 0 3px 6px 0;
    border-radius: 0.5em;
  }

  h1,h2,h3,h4,h5,h6 {
    cursor: pointer;
  }

  h1:before, h2:before, h3:before ,h4:before,h5:before,h6:before {
    content: '#';
    margin-right: 5px;
  }
}

.post-title {
  color: rgb(67, 76, 94);
}

hr {
  margin-bottom: 1.5rem;
}

.about {
  .author-avatar {
    border-radius: 50%;
  }
}

