// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap');

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-border-color;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 1px solid #eaecef;
}

.post-title,
.post-content h1 {
  @include relative-font-size(3);
  letter-spacing: 1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(3);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-size: 1.2rem;
  font-weight: 300;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $headers-font-family;
    letter-spacing: -.75px;
    font-weight: 700;
  }
}

/**
 * Page content
 */
.post-link {
  display: block;
  @include relative-font-size(1.5);
  font-family: $headers-font-family;

  &,
  &:visited{
    color: $site-title-color;
  }

  &:hover,
  &:active{
    color: $link-base-color;
  }
}

//Mailing List Form
#mc_embed_signup{
  form{
    position: relative;
    #mc_embed_signup_scroll{
      .mc-field-group{
        display: flex;
        label{
          input{
            background-color: transparent;
            border: none;
            border: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            font-size: 16px;
            margin: 0 5px 0 0;
            padding: 7px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            -webkit-transition: border .3s, -webkit-box-shadow .3s;
            transition: border .3s, -webkit-box-shadow .3s;
            transition: box-shadow .3s, border .3s;
            transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
          }
        }
        button{
          text-decoration: none;
          color: #fff;
          background-color: $brand-border-color;
          text-align: center;
          letter-spacing: .5px;
          -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
          cursor: pointer;
          outline: 0;
          border: none;
          border-radius: 2px;
          display: inline-block;
          padding: 0 16px;
          text-transform: uppercase;
          vertical-align: middle;
          -webkit-tap-highlight-color: transparent;
        }
      }
    }
  }
}

//About Page starts
.about {
  display: flex;

  .about-summary {
    font-size: 1.5em;
  }

  section {
    padding: 5px;

    .about-figure {
      .author-avatar {
        box-sizing: border-box;
        border-radius: 50%;
        margin-bottom: 3.5px;
      }
      text-align: center;

      .caption {
        font-weight: bold;
      }
    }
  }

  .about-content {
    text-align: justify;
    text-justify: newspaper;
  }
}
//About Page ends

//Home
.home {
  .post-list {
    li {
      h3 {
        a.post-link:link, a.post-link:visited {
          cursor: pointer;
          text-decoration: none;
          font-weight: 500;
          font-size: 1.5rem;
        }
      }
    }
  }
}

//Article
.post{
  .post-header {
    h1.post-title {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: calc(1.5rem + 3vw);
      font-weight: 700;
      letter-spacing: -.75px;
    }
  }
}