---
layout: default
---
<article class="about">
    <section>
       <figure class="about-figure">
           <img class="author-avatar" src="{{ page.image }}" alt="{{ page.author | escape }}">
           <span class="caption">{{ page.author | escape  }}</span>
       </figure>
    </section>
    <section>
        <header>
            <h2 class="about-summary">{{ page.summary | escape }}</h2>
        </header>
        <div class="about-content">
            {{ content }}
        </div>
    </section>
</article>