---
layout: post
---
<article class="about grid lg:grid-cols-2 gap-1">
    <section>
       <figure class="about-figure flex justify-center">
          <div class="text-center">
              <img class="author-avatar rounded-full w-64" src="{{ page.image }}" alt="{{ page.author | escape }}">
              <span class="caption block text-2xl mt-5">{{ page.author | escape  }}</span>
          </div>
       </figure>
    </section>
    <section>
        <header>
            <h2 class="about-summary">{{ page.summary | escape }}</h2>
        </header>
        <div class="about-content">
            {{ content }}
        </div>
    </section>
</article>