---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="pb-24">
    {%- if page.title -%}
    <h1 class="page-heading p-5">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading p-5">{{ page.list_title | default: "Posts" }}</h2>

    <div>
        {%- for post in site.posts -%}
        <article class="text-center m-0 pl-5 pr-5 post-list-item border-4 border-transparent">
            <a class="block" href="{{ post.url | relative_url }}">
                <div class="p-0 m-0">
                    <p class="p-2 m-0 text-gray-500">{{ post.date | date: date_format }}</p>
                </div>
                <div>
                    <h2 class="post-list-item-title p-2"><a class="text-lg lg:text-2xl" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
                </div>
            </a>
        </article>
        {%- endfor -%}
    </div>

    {%- endif -%}
</div>
