<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{% include header.html %}

<!--Intro section-->
<section class="p-5 pt-32 pb-32 flex justify-center container mx-auto">
    <div class="align-middle text-center tracking-widest">
        <p class="text-4xl font-light">I'm a software artist.</p>
        <p class="text-4xl font-light">This is my inner voice!</p>
    </div>
</section>

<!-- Welcome section -->
<section class="bg-blue-100">
    <div class="container mx-auto lg:p-0 p-5">
        <div class="lg:flex flex-auto pt-32 lg:pb-32">
            <div class="tracking-widest flex flex-col justify-center">
                <h2 class="text-5xl">Hi, I'm Dhemy</h2>
                <p class="text-xl font-light">
                    I'm a software engineer. I keep thinking about codes, and here I'm trying to express my inner voice!
                </p>
            </div>
            <div class="flex justify-center pt-10 pb-10 lg:flex lg:justify-end lg:p-0">
                <img class="lg:w-7/12 lg:h-7/12 w-full" src="/assets/img/home-imdhemy.jpeg" alt="Mohamad Eldhemy">
            </div>
        </div>
    </div>
</section>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

{%- include footer.html -%}

</body>

</html>
