---
layout: default
---

<header class="container mx-auto p-5 text-center">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
        </time>
        {% if page.categories %}
        • <span>{{ page.categories }}</span>
        {% endif %}
    </p>
</header>

<article class="bg-white rounded-lg drop-shadow-md lg:ml-0 lg:mr-0 ml-5 mr-5 mb-20" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="p-5 post-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

    <div class="lg:flex border-t bg-gray-100 border-gray-300 justify-between p-4 text-lg rounded-br-lg rounded-bl-lg">
        <p class="text-center border-gray-300">
            {% if page.previous.url %}
            <a href="{{page.previous.url}}">&larr;{{page.previous.title}}</a>
            {% endif %}
        </p>

        <p class="text-center">
            {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}}&rarr;</a>
            {% endif %}
        </p>

    </div>
</article>
