@charset "utf-8";

$brand-color:           #586072 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;
$brand-border-color:    #499bff;

$site-title-color:      $brand-color-dark !default;

$text-color:            #24292e !default;
$background-color:      white !default;
$code-background-color: #f6f8fa !default;

$link-base-color:       #0366d6 !default;
$link-visited-color:    #0366d6 !default;
$link-hover-color:      #0366d6 !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;

$code-background-color: #F6F8FE;

$grey-color: grey;
$grey-color-light: grey;
$grey-color-dark: grey;

/**
 * Code formatting
 */
pre,
code {
  font-size: 0.9375em;
  border: 1px solid $code-background-color;
  border-radius: 3px;
  background-color: $code-background-color;
  color: #24292e;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: $code-background-color;
  border: 1px solid $code-background-color;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $code-background-color;
  }
}

@import "rouge";
